
bin/Debug/WoBookTest.vshost.exe
bin/Debug/WoBookTest.vshost.exe.manifest
bin/Release/WoBookTest.exe
bin/Release/WoBookTest.pdb
bin/Release/WoBookTest.vshost.exe
bin/Release/WoBookTest.vshost.exe.manifest
